{% extends 'quiz/base.html' %}

{% load static %}

{% block content %}
    <div class="container-fluid mt-5 text-right">
        <div class="row">
            <div class="col-4">
                <label for="enrollment-key" class="my-5">مفتاح الإنضمام</label>
                <h3 id="enrollment-key">{{ quiz.enrollment_key }}</h3>
            </div>
            <div class="col-8">
                <label for="quiz-data" class="my-5">بيانات الإختبار</label>
                <div class="row" id="quiz-data">
                    <div class="col-6">
                        <label for="created-at">تم الإنشاء في</label>
                        <span id="created-at">{{ quiz.created_at }}</span>
                    </div>
                    <div class="col-6">
                        <label for="launch-at">تاريخ الإقلاع</label>
                        <span id="launch-at">{{ quiz.launch_time }}</span>
                    </div>
                </div>
            </div>
        </div>
        <ol class="my-5" dir="rtl">
            {% for que in quiz.questions.all %}
                <li class="py-4">
                    <h5>{{ que.question_body }}</h5>
                    <div class="row py-3">
                        {% for dis in que.distractions.all %}
                            <div class="col-6 text-right">
                                <span class="{% if dis.is_correct == True %}text-success{% else %}text-danger{% endif %}">{{ dis.distraction }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock content %}
